# LISTA DE PANDAS-2

**Importe as bibliotecas necessárias**

**Importe os dados sobre as ações, que estão nos arquivos "carteira.csv" e "ativos.csv".**

In [152]:
##### SEU CODIGO COMECA AQUI #####
import numpy as np
import pandas as pd
ct = pd.read_csv("carteiras.csv", parse_dates=["data"])
at = pd.read_csv("ativos.csv", index_col=0, parse_dates=True)

**Exercício 1: Filtragem de dados**

Filtre o Dataframe a partir de 5 ações, de modo que essas ações podem ser escolhidas pela sua preferência ou de forma aleatória. Após a filtragem, salve em uma nova variável.

In [153]:
##### SEU CODIGO COMECA AQUI #####
at_5 = at.iloc[:,range(5)]
at_5

                 BPAC5       RAPT4       CMIG4       MELK3       DIRR3
data
2021-12-31  100.000000  100.000000  100.000000  100.000000  100.000000
2022-01-03   96.153846   99.080037   98.245614   99.487179   95.594020
2022-01-04   94.423077   97.884085   98.169336   98.974359   92.210858
2022-01-05   86.730769   94.388224   95.041953   97.179487   85.995279
2022-01-06   84.574684   95.676173   92.982456   95.641026   84.107002
...                ...         ...         ...         ...         ...
2022-07-25  100.517499   95.537109  114.691627  100.249730   89.613702
2022-07-26   98.573253   95.731488  113.419631   99.191685   88.301882
2022-07-27  100.517499   98.161221  119.355612  103.159352   91.663421
2022-07-28  100.906348   98.452789  118.719614  105.010930   95.516892
2022-07-29  103.628292   97.675274  119.143613  104.746419   97.074678

[146 rows x 5 columns]

**Exercício 2: Retorno**

Utilizando o Dataframe filtrado no exercício anterior, calcule o retorno diário dessas 5 ações. Para isso, utilize o método `pct_change`. Além disso, mude o nome das colunas para o nome da ação seguido de uma hashtag, por exemplo, 'BBAS3#'.

salve um uma variável chamada `retorno`.

In [154]:
##### SEU CODIGO COMECA AQUI #####
retorno_diario = at_5.pct_change()
retorno_diario.iloc[0] = 0
retorno_diario

retorno = retorno_diario.rename(columns={'BPAC5': 'BPAC5#', 'RAPT4': 'RAPT4#', 'CMIG4': 'CMIG4#', 
                              'MELK3': 'MELK3#', 'DIRR3': 'DIRR3#'})
retorno

              BPAC5#    RAPT4#    CMIG4#    MELK3#    DIRR3#
data
2021-12-31  0.000000  0.000000  0.000000  0.000000  0.000000
2022-01-03 -0.038462 -0.009200 -0.017544 -0.005128 -0.044060
2022-01-04 -0.018000 -0.012071 -0.000776 -0.005155 -0.035391
2022-01-05 -0.081466 -0.035714 -0.031857 -0.018135 -0.067406
2022-01-06 -0.024860  0.013645 -0.021669 -0.015831 -0.021958
...              ...       ...       ...       ...       ...
2022-07-25 -0.013359  0.010277  0.015962  0.010667 -0.038698
2022-07-26 -0.019342  0.002035 -0.011091 -0.010554 -0.014639
2022-07-27  0.019724  0.025381  0.052336  0.040000  0.038069
2022-07-28  0.003868  0.002970 -0.005329  0.017949  0.042039
2022-07-29  0.026975 -0.007897  0.003571 -0.002519  0.016309

[146 rows x 5 columns]

**Exercício 3: Ordenar**

Utilizando o método `describe`, analise a média de retorno das ações. Após isso, organize os dados de tal modo que as ações sejam apresentadas de forma decrescente, isto é, a ação que teve a maior média de retorno para a  ação que teve a menor média de retorno.

  
   *Lembre-se de definir o parâmetro 'ascending' e 'by'.*

In [155]:
##### SEU CODIGO COMECA AQUI #####
retorno.describe()

           BPAC5#      RAPT4#      CMIG4#      MELK3#      DIRR3#
count  146.000000  146.000000  146.000000  146.000000  146.000000
mean     0.000811    0.000100    0.001361    0.000694    0.000272
std      0.033719    0.022947    0.017963    0.027693    0.030969
min     -0.089583   -0.057576   -0.058408   -0.078603   -0.071165
25%     -0.023114   -0.012096   -0.008866   -0.014325   -0.019667
50%      0.000952   -0.001314    0.002112    0.000000    0.000403
75%      0.023903    0.014156    0.009834    0.014038    0.019182
max      0.081319    0.066810    0.063629    0.113372    0.101277

In [162]:
media_de_retorno = retorno.mean()
DF_media_de_retorno = pd.DataFrame(media_de_retorno.rename('Média'))
DF_media_de_retorno

           Média
BPAC5#  0.000811
RAPT4#  0.000100
CMIG4#  0.001361
MELK3#  0.000694
DIRR3#  0.000272

In [163]:
media_de_retorno_ordem = DF_media_de_retorno.sort_values('Média',ascending=False)
media_de_retorno_ordem

           Média
CMIG4#  0.001361
BPAC5#  0.000811
MELK3#  0.000694
DIRR3#  0.000272
RAPT4#  0.000100

**Exercício 4: Manipulação** 

Para a ação que obteve a maior média de retonos no périodo apresentado, crie uma coluna chamada `acima_da_media_x`, sendo o 'x' o nome da ação. Sendo assim, essa coluna deve conter valores booleanos, `True` caso a ação esteja com o preço acima da sua média e `False` caso o preço da ação seja menor ou igual a média. Feito isso, printe apenas os dados que são iguais a `True`. 

*Dessa forma, poderemos saber em quais dias que a ação obteve um retorno maior que a sua média*

In [158]:
##### SEU CODIGO COMECA AQUI #####
CMIG4 = pd.DataFrame(retorno.iloc[:,2])
CMIG4

              CMIG4#
data
2021-12-31  0.000000
2022-01-03 -0.017544
2022-01-04 -0.000776
2022-01-05 -0.031857
2022-01-06 -0.021669
...              ...
2022-07-25  0.015962
2022-07-26 -0.011091
2022-07-27  0.052336
2022-07-28 -0.005329
2022-07-29  0.003571

[146 rows x 1 columns]

In [159]:
CMIG4['acima_da_media_CMIG4#'] = CMIG4['CMIG4#'] > media_de_retorno_ordem.iloc[0,0]
CMIG4

              CMIG4#  acima_da_media_CMIG4#
data
2021-12-31  0.000000                  False
2022-01-03 -0.017544                  False
2022-01-04 -0.000776                  False
2022-01-05 -0.031857                  False
2022-01-06 -0.021669                  False
...              ...                    ...
2022-07-25  0.015962                   True
2022-07-26 -0.011091                  False
2022-07-27  0.052336                   True
2022-07-28 -0.005329                  False
2022-07-29  0.003571                   True

[146 rows x 2 columns]

In [166]:
print(CMIG4[CMIG4['acima_da_media_CMIG4#'] > 0])

              CMIG4#  acima_da_media_CMIG4#
data
2022-01-07  0.005742                   True
2022-01-11  0.028807                   True
2022-01-12  0.014400                   True
2022-01-13  0.001577                   True
2022-01-14  0.002362                   True
...              ...                    ...
2022-07-21  0.006705                   True
2022-07-22  0.013321                   True
2022-07-25  0.015962                   True
2022-07-27  0.052336                   True
2022-07-29  0.003571                   True

[77 rows x 2 columns]

**Exercício 5: Proporção**

Após descobrir em quais dias que a ação teve um retorno maior que a sua média, calcule qual foi a proporção em que isso aconteceu, ou seja, a proporção de dias que esteve acima da média em relação ao total de dias.

*printe essa proporção da seguinte forma: 'A proporção de dias acima da média foi de X%', sendo 'X' a proporção. Arredonde em duas casa decimais o valor encontrado*

In [160]:
##### SEU CODIGO COMECA AQUI #####
proporcao = (CMIG4.reset_index()).groupby("acima_da_media_CMIG4#").count()[["data"]]
proporcao['share'] = np.round(((proporcao['data'] / (69+77))*100),2)
proporcao

                       data  share
acima_da_media_CMIG4#
False                    69  47.26
True                     77  52.74

In [169]:
 print(f'A proporção de dias acima da média foi de {proporcao.iloc[1,1]}%, sendo {proporcao.iloc[1,0]}/{proporcao.iloc[1,0]+proporcao.iloc[0,0]} a proporção.')

A proporção de dias acima da média foi de 52.74%, sendo 77/146 a proporção.

**Exercício 6: Junção**

Por fim, faça a união **total** do dataframe contendo cinco primeiras ações escolhidas  inicialmente (no ex. 1) com o dataframe contendo os retornos dessas ações (criado no ex.2). Espera-se um único dataframe como resposta.

In [170]:
##### SEU CODIGO COMECA AQUI #####
(pd.DataFrame(at_5).join(retorno,how="outer"))

,BPAC5,RAPT4,CMIG4,MELK3,DIRR3,BPAC5#,RAPT4#,CMIG4#,MELK3#,DIRR3#
data,,,,,,,,,,
2021-12-31,100.000000,100.000000,100.000000,100.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-01-03,96.153846,99.080037,98.245614,99.487179,95.594020,-0.038462,-0.009200,-0.017544,-0.005128,-0.044060
2022-01-04,94.423077,97.884085,98.169336,98.974359,92.210858,-0.018000,-0.012071,-0.000776,-0.005155,-0.035391
2022-01-05,86.730769,94.388224,95.041953,97.179487,85.995279,-0.081466,-0.035714,-0.031857,-0.018135,-0.067406
2022-01-06,84.574684,95.676173,92.982456,95.641026,84.107002,-0.024860,0.013645,-0.021669,-0.015831,-0.021958
...,...,...,...,...,...,...,...,...,...,...
2022-07-25,100.517499,95.537109,114.691627,100.249730,89.613702,-0.013359,0.010277,0.015962,0.010667,-0.038698
2022-07-26,98.573253,95.731488,113.419631,99.191685,88.301882,-0.019342,0.002035,-0.011091,-0.010554,-0.014639
2022-07-27,100.517499,98.161221,119.355612,103.159352,91.663421,0.019724,0.025381,0.052336,0.040000,0.038069
2022-07-28,100.906348,98.452789,118.719614,105.010930,95.516892,0.003868,0.002970,-0.005329,0.017949,0.042039
2022-07-29,103.628292,97.675274,119.143613,104.746419,97.074678,0.026975,-0.007897,0.003571,-0.002519,0.016309